*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-img{
  width: 50%;
  height: 30%;
 position: absolute;
 left: 12rem;
 padding-left: 3rem;
 top: 3rem;
 padding-bottom: 0.1rem;

}

.loginform{
  width: 50%;
  height: 100vh;
  position: absolute;
  left: 42.5rem;
  top: 0;
  box-shadow: 2px 1px 13px black;
  background:white; 
}
h1{
  position: absolute;
  top: 17rem;
  left: 18rem;
  font-style: bold;
  color: black;
}
.form1{
  width: 50%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
 
  background: #3CB5C6; 
}
.loginformpart1{
 position: absolute;
 left: 60rem;
 top: 23rem;
 box-shadow: 1px 4px 2px black;
 
}
.pass{
  position: absolute;
 left: 60rem;
 top: 28rem;
background: cover;
box-shadow: 1px 4px 2px black;
 
}
.label1{
  position:absolute;
  left: 60rem;
  top:21rem;
  color: black;
  font-family: bold;
  font-size: 1.1rem;
}
.label2{
  position:absolute;
  left: 60rem;
  top:26rem;
  color: black;
  font-family: bold;
  font-size: 1.1rem;
}
.btn{
  width: 8%;
  background-color: rgb(3, 114, 3);
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
  border-radius: 40px;
  position: absolute;
  left: 62rem;
  top: 30rem;
}
.photo{
  position: absolute;
  width: 70%;
  left: 3rem;
  top: 13rem;
}