*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-img{
  width: 92px;
  height: 96px;
 position: absolute;
 left: 0.1rem;

}
.byiza{
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 21.4rem;
  background: rgb(61, 66, 139);
  align-items: center;
  height: 100px;
  position: absolute;
  
}
.nav-links{
  display: flex;
  list-style-type: none;
  gap: 5.4rem;
  
 
}
.nav-link{
  color:white;
  
}
.nav-link:link,.nav-link:visited{
  font-size: 1.2rem;
  text-decoration: none;
}
/* .nav-link:hover{
  color:yellow;
}
.link-green:link,
.link-green:visited{
  color: green;
}
.link-green:hover,
.link-green:active{
color: white;
} */